<!DOCTYPE html>
<html>
<head>
    <title>Searchresults</title>
</head>
<body>
    <h2>Zoekresultaten</h2>
    <p>Je zocht op <strong>@ViewData["SearchMethod"]</strong> naar de waarde <strong>@ViewData["SearchSubject"]</strong></p>
    <p>Er werd niks gevonden in onze database</p>
</body>
</html>