@model Course.Spyshop.Web.ViewModels.AboutIndexVm

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>About</title>
</head>
<body>
    <h1> @Model.AboutTitle</h1>
   @Html.Raw(Model.AboutContent)
</body>
</html>
